<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Meus Clientes</h3>
        </div>
        <ul class="list-unstyled">
            <li class="active">
                <a href="#clienteSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Clientes</a>
                <ul class="collapse list-unstyled" id="clienteSubmenu">
                    <li>
                        <a routerLink="/clientes-lista">Consulta</a>
                    </li>
                    <li>
                        <a routerLink="/clientes-form">Cadastro</a>
                    </li>
                </ul>
            </li>
            <li>
                <a href="#servicoPrestadoSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Serviços Prestados</a>
                <ul class="collapse list-unstyled" id="servicoPrestadoSubmenu">
                    <li>
                        <a routerLink="/servico-prestado-lista">Consulta</a>
                    </li>
                    <li>
                        <a routerLink="/servico-prestado-form">Cadastro</a>
                    </li>
                </ul>
            </li>
        </ul>
    </nav>

</div>